// Onidata Style Guide

$orange: #FF9800;
$green: #4CAF50;
$teal: #00BFA5;
$blue: #2196F3;
$purple: #9C27B0;
$red: #F44336;
$yellow: #ffc400;

$green2: #40C258;

$white: #FFF;
$white-1: #F0F0F7;
$white-2: #F5F5F5;
$white-3: #F7F7F7;

$gray-0: #E8E8E8;
$gray-1: #BCBCBC;
$gray-2: #838383;
$gray-3: #707070;
$gray-4: #999999;
$gray-5: #888888;
$gray-6: #95989A;
$gray-7: #DDDDDD;
$gray-9: #ECEEEF;
$gray-10: #CCD5DA;
$gray-11: #F8F8F8;

$blue-gray-1: #78909C;
$blue-gray-2: #5E617B;
$blue-gray-3: #455A64;
$blue-gray-4: #37474F;
$blue-gray-5: #263238;
$blue-gray-6: #A4AFB7;
$blue-gray-7: #373A3C;
$blue-gray-8: #474959;
$blue-gray-9: #4D616A;

$border-gray: #CACED5;
$font-gray: #707070;
$modality-gray: #6a707e;
$disabled-gray: #E9ECEF;

$background-sub-container-color: rgba($blue-gray-1, 0.08);

$sidebar-width: 300px;
$navbar-height: 50px;

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-sizes: (12, 14, 16, 18, 20, 22, 24, 32);

$container-max-widths: (
  lg: 960px,
  xl: 1140px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1540px
) !default;

// COMPONENTS Z-INDEX
$tooltip-zindex: 5;
$tooltip-header-zindex: 15;
$table-overlay-zindex: 500;
$sidebar-overlay-zindex: 502;
$dropdown-zindex: 1090;
$dropdown-container-zindex: 505;
$navbar-zindex: 1030;
$uncompatible-navigator-zindex: 1040;
$sticky-zindex: 1045;
$sidepanel-zindex: 1050;
$sidebar-zindex: 1051;
$modal-zindex: 1055;
$progressbar-zindex: 2000;
$radio-zindex: 2000;
$checkbox-zindex: 2000;