@media screen and (min-width: 992px) {
  main {
    margin-left: $sidebar-width !important;
    width: calc(100% - #{ $sidebar-width }) !important;
  }
}

.font-size-13 {
  font-size: 13px !important;
}