$green: #40b258;
$blue:  #107fe8;
$danger: #f44336;
$warning: #ff9800;
$success: #019310;
$info: #0747a6;
$black: #000;
$white: #ffffff;
$gray: #f0f1f4;
$container: #e8e8e8;

$gray-100: #eceeef;
$gray-200: #dddddd;
$gray-300: #78909c;
$gray-400: #818a91;
$gray-500: #455a64;
$gray-600: #37474f;
$gray-700: #909090;
$gray-800: #424547;
$gray-900: #373a3c;
$gray-1000: #4A4A4A;
$placeholder-gray: #9ba1a7;

$warning-100: #fff9ef;
$info-100: rgba($blue, 0.03);

$primary: $green;
$secondary: $gray-500;

$primary-company: $blue;
$secondary-company: $gray-500;

$primary-employee: $green;
$secondary-employee: $gray-500;