.taxes-group-table {
  background: transparentize($blue-gray-1, 0.92);
  border: 1px solid transparentize($blue-gray-1, 0.92);
  border-radius: 4px;
  padding-top: 0.5rem;
  overflow: auto;

  tbody > tr {
    border-bottom: 1px solid transparentize($blue-gray-1, 0.92);
  }
}

.active-status-ball {
  width: 15px;
  height: 15px;
  background: $green;
}

.denied-status-ball {
  width: 15px;
  height: 15px;
  background: $red;
}

.default-status-ball {
  width: 15px;
  height: 15px;
  background: $orange;
}

.users-table {
  background: transparentize($blue-gray-1, .92);
  padding: 10px;
  color: $blue-gray-3;
  
  tr {
    border-bottom: 1px solid transparentize($blue-gray-1, .2);
  }
}