.login {
  height: 100vh;

  .form-container {
    background-color: theme-color("secondary");

    .creditor-logo-color {
      width: 70%;
      margin: -40px 0px -10px 0px;
    }

    p {
      @include create-font($color: $white, $align: center);
      margin-bottom: 25px;
    }

    .login-options {
      @include create-font($color: $white, $size: 14px);

      .form-check-input {
        margin-top: 0px;
      }
      .form-check-label {
        font-size: 14px;
        padding-left: 0px;
        &::before {
          top: 2px !important;
        }
      }
    }
  }
}