.field-array-list {
  margin-top: 5px;
  display: flex;

  .field-array-form {
    background-color: rgba($blue-gray-1, 0.08);
    width: 95%;
    padding: 20px;
    border-right: 3px solid $white;
  }

  .field-array-empty-form {
    background-color: rgba($blue-gray-1, 0.08);
    width: 100%;
    padding: 20px;
  }

  .field-array-actions {
    @include flexbox($justify: center);
    background-color: rgba($blue-gray-1, 0.08);
    width: 5%;
    padding-top: 20px;
    min-width: 45px;

    svg {
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}