
input, input.form-control, select.form-control, span.input-group-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.is-invalid {
    background-image: unset;
    padding: 0.375rem 0.75rem;
  }
}

input.DateInput_input {
  border: none;
 }

 .select-without-label {
  margin-top: 1.7rem;
} 

.search-input {
  :placeholder-shown {
    //background: url('../svg/icon-search.svg');
  }
}

@include media-breakpoint-up(lg) {
  .input-without-label {
    margin-top: 2rem;
  }

  .range-input-max {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .range-input-min, .range-input-min + .input-group-append .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
