.navbar {
  padding: 0.5rem 1rem 0.5rem 0;
  max-height: $navbar-height;

  &.absolute-top {
    z-index: $navbar-zindex;
  }
  .page-options {
    min-width: 30%;
  }

  .logo-cliente {
    width: 50px;
    height: 35px;
    border: 1px solid;

    img {
      width: 100%;
      height: 100%;
    }
  }

  ul {
    margin-bottom: 0 !important;

    &.desktop {
      li {
        padding: 0 15px;

        &.user-options {
          @include create-font($size: 14px);
          padding-right: 0;

          .user-perfil {
            color: $gray-2;
            font-size: 12px;
          }

          .btn-group {
            margin-left: 15px;
            
            .dropdown-toggle::after {
              border-top-color: $gray-2;
              border-bottom-color: $gray-2;
            }
          }
        }

        &.notifications {
          svg {
            color: $gray-1;
            font-size: 16px;
          }
        }
      }
    }
  }
}
