.progressbar-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  @include flexbox($align: center, $justify: center);
  margin-top: -50px;
  background-color: rgba($black, 0.5);
  z-index: $progressbar-zindex;

  .progressbar-content {
    width: 400px;
    background-color: $white;
    padding: 20px 30px;

    .progress {
      height: 0.5rem;

      .progress-bar {
        background-color: theme-color("primary");
      }
    }
  }
}