.sidebar {
  background: theme-color("secondary");
  border: 1px solid $gray-3;
  z-index: $sidebar-zindex;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

  .sidebar-brand {
    width: 100%;
    display: block;
    height: 50px;
    background: $blue-gray-5;
    line-height: 48px;
    overflow: hidden;

    .creditor-logo-white {
      width: 36%;
      margin: -50px 0px -37px 0px;
      max-width: 120px;
      min-width: 110px;
    }

    button {
      display: none;
      position: relative;
      max-width: 60px;

      &.has-sidepanel {
        display: block;
        position: absolute;
        color: $white;
        top: 10px;
        right: 0px;
      }
    }
  }

  .modality {
    border-bottom: 1px solid $blue-gray-2;
    margin-bottom: 10px;
    padding: 15px 10px;
    display: none;

    .modality-icon {
      display: none;
      overflow: hidden;
      svg {
        width: 100%;
        height: 35px;
      }
    }

    .modality-full {
      width: 70%;
      margin-right: auto;
      overflow: hidden;
      svg {
        width: 80%;
        max-width: 150px;
        height: 40px;
      }
    }

    .modality-apps {
      color: $white-2;

      svg {
        font-size: 35px;
      }

      @include no-select();
      @include hover() {
        cursor: pointer;
        svg {
          font-weight: bold;
        }
      }

      .dropdown-sidebar-item {
        border: 1px solid rgba($gray-3, 0.13);
        padding: 15px 19px 15px 10px;
        margin: 5px 10px 15px;
        cursor: pointer;
        display: inherit;

        &:hover {
          background-color: rgba($gray-3, 0.13);
        }

        svg {
          width: 190px;
          height: 45px;
        }
      }
    }
  }

  .sidebar-links {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      position: relative;
      height: 55px;
      padding-left: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include flexbox($align: center, $justify: flex-start);
      @include create-font($size: 15px, $color: $white);

      svg {
        margin-right: 10px;
        font-size: 25px;
      }

      @include hover() {
        text-decoration: none;
        background-color: $blue-gray-5;
        transition: all .1s ease;

        svg {
          fill: theme-color("primary");
        }
      }

      &.active {
        background-color: $blue-gray-5;;
  
        svg {
          fill: theme-color("primary");
        }
  
        &:after {
          content: '';
          right: -1px;
          top: 0px;
          height: 100%;
          width: 5px;
          background-color: theme-color("primary");
          position: absolute;
          z-index: 9;
        }
      }
    }
  }

  &.on-collapse {
    .sidebar-brand {
      @include flexbox($align: center, $justify: center);

      .creditor-logo-white {
        display: none;
      }

      button {
        padding: 10px;
        margin: 0px;
        display: block;
        width: 100%;

        svg {
          width: 100%;
          height: 100%;
          color: $white;
        }
      }
    }

    .modality {
      padding: 9px 0px;
      .modality-icon {
        display: block;
      }
      .modality-full {
        display: none;
      }
      .modality-apps {
        display: none;
      }
    }

    .sidebar-links {
      a {
        padding: 0px;
        padding-right: 3px;
        justify-content: center;

        span {
          display: none;
        }

        svg {
          margin: 0px;
        }

        &.active {
          background-color: $blue-gray-5;;
    
          svg {
            fill: theme-color("primary");
          }
    
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.sidebar-background {
  @include create-overlay($sidebar-overlay-zindex)
}