.sticky-wrapper {
  top: 0;
  left: 0;
  z-index: $sticky-zindex;
  width: 100%;
  position: fixed;
  max-height: 0;
  transition: all .15s ease;
  overflow: hidden;
  background-color: $white;
  display: flex;
  align-items: center;

  > div {
    width: 100%;
  }
  
  &.active {
    left: 0px;
    min-height: 55px;
    max-height: 100px;
    overflow: visible;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
}