.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $blue-gray-5;
  font-size: 0.9rem;
  color: $blue-gray-5;
  flex-shrink: 0;

  &.size-sm {
    width: 24px;
    height: 24px;
    font-size: 0.875rem;
    border-width: 3px;
    line-height: 0px;
    border-radius: 15px;
  }
}

.table-user-avatar {
  min-width: 215px;
}