@include media-breakpoint-down(md) {
  .mobile-action-bar {
    position: fixed;
    bottom: 0px;
    padding: 15px 5px;
    background-color: $white;
    left: 0px;
    width: 100%;
    z-index: 10;
    box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.25);
    @include flexbox($justify: center, $align: center);
  }
}