@include media-breakpoint-up(lg) {
  .table-onidata {
    position: relative;

    &.min-width-lg-only {
      min-width: 1250px;
    }

    tbody {
      tr {
        &.has-child-open {
          box-shadow: none;
        }

        &.clickable {
          cursor: pointer;
          transition: background-color .1s ease;
          &:hover {
            background-color: rgba(theme-color("primary"), 0.1);
            
            td {
              &.fixed-action {
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}