@include media-breakpoint-down(md) {
  .horizontal-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: $white;
    min-height: 90px;
    
    &.with-background {
      justify-content: flex-start;
      align-items: center;
      padding-left: 1.5rem;
    }
  
    .card-headers {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 1rem;
  
      svg {
        font-size: 35px;
        color: theme-color('primary');
      }
    }
  
    .dashboard-title {
      margin-left: 1rem;
    }
  
    .list-group {
      width: 100%;
      margin: 0 1rem;
    }
  }
}