@include media-breakpoint-down(md) {
  .sidepanel {
    left: 15%;

    &.active {
      display: block;
      width: 65%;
      transition: width 100ms cubic-bezier(0.2, 0, 0, 1) 200ms;
    }

    &.inactive {
      width: 0%;
      transition: width 50ms cubic-bezier(0.2, 0, 0, 1) 0ms;
    }

    .sidepanel-links {
      a {
        font-size: 14px;
      }
    }
  }
}
