@include media-breakpoint-down(sm) {
  .clean-template {
    .content {
      min-width: unset;
      min-height: unset;

      .footer-logo {
        bottom: 20px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .clean-template {
    min-height: 100vh;
    height: 100%;

    .content {
      padding-bottom: 50px;
    }
  }
}