@include media-breakpoint-down(sm) {
  .module-template {
    .sidebar {
      width: 0px;
      min-width: 0px;
      max-width: $sidebar-width;
      transition: min-width 0.5s ease-in-out;

      &.active {
        min-width: $sidebar-sm-width
      }

      .sidebar-logo {
        min-height: unset;
        max-height: $navbar-sm-height;
        height: $navbar-sm-height;
        overflow: hidden;
      }

      .sidebar-content {
        height: calc(100vh - #{$navbar-sm-height});
      }
    }

    .content {
      min-width: 100vw;
      will-change: transform;
      position: relative;

      .sidebar-overlay {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        background-color: $black;

        &.active {
          opacity: 0.4;
          z-index: 2000;
        }
      }
  
      .navbar {
        min-height: $navbar-sm-height;
        position: sticky;
        top: 0px;
      }
  
      main {
        padding-top: 0px;
      }
    }
  }
}